  <%= form_for @chosen_answer, url: chosen_answers_path(@chosen_answer) do |f|%>
    <div class="grid-cards">
      <% @question.answers.each do |answer| %>
        <input type="checkbox" id="<%=answer.id%>" name="chosen_answer_ids[]" value="<%=answer.id%>" style="display:none">
        <label for="<%=answer.id%>">
          <div class="thumb-option" style="background-image: url(<%=answer.image%>)">
          </div>
        </label>
      <%end%>
    </div>
      <input type="hidden" name="quiz_result" value="<%=@quiz_result.id%>">
      <input type="hidden" name="question" value="<%=@question.id%>">
      <%=  f.button :submit, class: "btn-next" do %>
        <i class="fas fa-chevron-right"></i>
      <%end%>
  <%end%>
