<%= form_for @chosen_answer, url: chosen_answers_path(@chosen_answer) do |f|%>
  <ul id="sortable-list">
    <% @question.answers.each_with_index do |answer, index| %>
      <li>
        <input type="hidden"  id="<%=answer.id%>" type="text" value='<%= answer.score %>' name='chosen_answer_category[]' >
        <label for="<%=answer.id%>"><%= answer.text %></label>
      </li>
    <% end %>
  </ul>
  <input type="hidden" name="quiz_result" value="<%=@quiz_result.id%>">
  <input type="hidden" name="question" value="<%=@question.id%>">
  <input type="hidden" name="count" value="<%=@count + 1 %>">
  <input type='submit' value='Submit' class= "btn-next"></input>
<% end %>
