<div class="main-container">
  <h1><%= @question.content %></h1>

  <%if @question.display_type == "type-image"%>
      <div class="cards">
    <% @question.answers.each do |answer| %>
      <div class="thumb" style="background-image: url(<%= image_path answer.image %>)">
      </div>
    <% end %>
       </div>
  <%elsif @question.display_type == "type-dropdown"%>
    <%= form_for @chosen_answer, url: chosen_answer_index_path(@chosen_answer) do |f|%>
      <%= f.collection_select :answer_id, @question.answers, :id, :text %>
    <% end %>
  <% elsif @question.display_type == "type-buttons"%>
    <% @question.answers.each do |answer| %>
    <a href="#" class="btn-selector"><%= answer.text %></a>
    <% end %>
  <% else %>
    <%= form_for @chosen_answer, url: chosen_answer_index_path(@chosen_answer) do |f|%>
    <% @question.answers.each do |answer| %>
      <%= f.select(:answer_id, answer.min..answer.max, step: 500) %>
      <% end %>
    <% end %>
  <% end %></div>

<!-- f.collection_select :score_id, Score.all, :id, :name -->
