<div class="main-container">
  <div class="quiz-flow">
    <%@count.times do %>
      <i class="fas fa-circle"></i>
    <% end %>
    <%(Question.all.count - @count).times do %>
      <i class="far fa-circle"></i>
    <% end %>
  </div>

  <div>
    <h3 class="text-center"><%= @question.content %></h3>
  </div>

  <div class="option-type">
    <%if @question.display_type == "type-image"%>
      <%= render 'type_image'%>
    <%elsif @question.display_type == "type-dropdown"%>
      <%= render 'type_dropdown'%>
    <% elsif @question.display_type == "type-buttons"%>
      <%= render 'type_buttons'%>
    <% elsif @question.display_type == "type-range"%>
      <%= render 'type_range'%>
    <% else %>
      <%= render 'type_sortable'%>
    <% end %>
  </div>


</div>
