<div class="main-container">
  <h1><%= @question.content %></h1>

  <!-- IMAGE QUESTION -->
  <%if @question.display_type == "type-image"%>
    <%= form_for @chosen_answer, url: chosen_answers_path(@chosen_answer) do |f|%>
      <div class="grid-options">
        <% @question.answers.each do |answer| %>
          <input type="checkbox" id="<%=answer.id%>" name="chosen_answer_ids[]" value="<%=answer.id%>" style="display:none">
          <label for="<%=answer.id%>"><div class="thumb-option" style="background-image: url(<%= answer.image%>)"></div></label>
        <%end%>
      </div>
      <input type="hidden" name="quiz_result" value="<%=@quiz_result.id%>">
      <input type="hidden" name="question" value="<%=@question.id%>">
      <%=  f.button :submit, class: "btn-next" do %>
        <i class="fas fa-chevron-right"></i>
      <%end%>
    <%end%>

  <%elsif @question.display_type == "type-dropdown"%>
    <%= form_for @chosen_answer, url: chosen_answers_path(@chosen_answer) do |f|%>
      <%= f.collection_select :answer_id, @question.answers, :id, :text %>
      <input type="hidden" name="quiz_result" value="<%=@quiz_result.id%>">
      <input type="hidden" name="question" value="<%=@question.id%>">
      <%=  f.button :submit, class: "btn-next" do %>
        <i class="fas fa-chevron-right"></i>
      <%end%>
    <% end %>
  <% elsif @question.display_type == "type-buttons"%>

    <%= form_for @chosen_answer, url: chosen_answers_path(@chosen_answer) do |f|%>
        <% @question.answers.each do |answer| %>
          <input type="checkbox" id="<%=answer.id%>" name="chosen_answer_ids[]" value="<%=answer.id%>" style="display:none">
          <label for="<%=answer.id%>" class="btn-option"><%= answer.text %></label>
        <%end%>
        <input type="hidden" name="quiz_result" value="<%=@quiz_result.id%>">
        <input type="hidden" name="question" value="<%=@question.id%>">
        <%=  f.button :submit, class: "btn-next" do %>
          <i class="fas fa-chevron-right"></i>
        <%end%>
    <%end%>

  <% elsif @question.display_type == "type-range"%>
    <%= form_for @chosen_answer, url: chosen_answers_path(@chosen_answer) do |f|%>
      <% @question.answers.each do |answer| %>
        <%= f.select(:answer_id, answer.min..answer.max, step: 500) %>
      <% end %>
     <input type="hidden" name="quiz_result" value="<%=@quiz_result.id%>">
      <input type="hidden" name="question" value="<%=@question.id%>">
      <%=  f.button :submit, class: "btn-next" do %>
        <i class="fas fa-chevron-right"></i>
  <% end %>
  <% end %>

  <% else %>
    <%= form_for @chosen_answer, url: chosen_answers_path(@chosen_answer) do |f|%>
      <ul id="sortable-list" class='sortable'>
        <% @question.answers.each_with_index do |answer, index| %>
          <li class="list-unstyled">
            <input type="hidden"  id="<%=answer.id%>" type="text" value='<%= answer.id %>' name='chosen_answer_ids[]' >
            <label for="<%=answer.id%>" class="btn-sortable"><%= answer.text %></label>
          </li>
        <% end %>
      </ul>
      <input type="hidden" name="quiz_result" value="<%=@quiz_result.id%>">
      <input type="hidden" name="question" value="<%=@question.id%>">
      <%=  f.button :submit, class: "btn-next" do %>
        <i class="fas fa-chevron-right"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
