<div class="main-container quiz-result-show-page-position">
  <h3>After careful calculations, these are the top three cities we matched you with.</h3>
  <div class="quiz-result-show-cards">
    <div class="card-city d-flex flex-column" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(<%= @first_city.image %>)">
      <p> <%= (@top_3_hash.values[0] * 100).to_i %> % </p>
      <p> <%= @first_city.name %>, <%= @first_city.country %> </p>
    </div>

    <div class="card-city d-flex flex-column" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(<%= @second_city.image %>)">
      <p> <%= (@top_3_hash.values[1] * 100).to_i %> % </p>
      <p> <%= @second_city.name %>, <%= @second_city.country %> </p>
    </div>

    <div class="card-city d-flex flex-column" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(<%= @third_city.image %>)">
      <p> <%= (@top_3_hash.values[2] * 100).to_i %> % </p>
      <p> <%= @third_city.name %>, <%= @third_city.country %> </p>
    </div>
  </div>
</div>

