<div class="main-container quiz-result-show-page-position">
  <h3>After careful calculations, these are the top three cities we matched you with.</h3>
  <div class="quiz-result-show-cards">
    <%= link_to  city_path(@first_city.id) do  %>
    <div class="card-city d-flex flex-column" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(<%= @first_city.image %>)">

      <p> <%= @first_city.name %>, <%= @first_city.country %> </p>
      <p> <%= (@first_score * 100).to_i %>% </p>
      <div class="percent">
        <div class="percent-color" style="width:<%=(@first_score * 100).to_i %>%">
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to  city_path(@second_city.id) do  %>
    <div class="card-city d-flex flex-column" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(<%= @second_city.image %>)">
      <p> <%= @second_city.name %>, <%= @second_city.country %> </p>
      <p> <%= (@second_score * 100).to_i %>% </p>
      <div class="percent">
        <div class="percent-color" style="width: <%= (@second_score * 100).to_i %>%">
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to  city_path(@third_city.id) do  %>
    <div class="card-city d-flex flex-column" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(<%= @third_city.image %>)">
      <p> <%= @third_city.name %>, <%= @third_city.country %> </p>
      <p> <%= (@third_score * 100).to_i %>% </p>
      <div class="percent">
        <div class="percent-color" style="width:<%= (@third_score * 100).to_i %>%">
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= link_to "Save your result", current_user %>
